
body, header, nav, footer {
	background-color: #000;
}
a {
	color:#287199;
}
ul {
	margin: 0;
}
ul li {
	list-style-type: none;
}
.container 
{
	background-color: #000;
	color:#888;
	margin:10px;
}
.header {
	position:relative;
	background-color: #788;
	color:#222;
	margin:10px;
}
.content {
	margin:10px;
}
h2 {
	font-size: 30px;
	margin: 0;
	padding: 5px;
}
.footer {
	margin:10px;
}
